body{
    background-image: url('C:\Users\kolshikwar.aishwarya\Desktop\Employee-Management-Frontend\employee-management-system-frontend\src\Pages\download.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
}